* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


html {
    background:  #ffff;
} 

.header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    background:#ff4800;
}

.nome {
    margin-left: 10px;
    width: 280px;
    height: 50px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    width: 55px;
    height: 50px;
    margin-right: 1062px;
}

.nav {
    width: 80px;
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-right: 80px;
}

.subtitulo {
    margin-top: 15px;
    margin-right: 2px;
    font-size: 22px;
    font-family: Quicksand,sans-serif;
    padding-left: 20px;
}

h3 {
    margin-top: 20px;
    font-size: 12px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
}
form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    margin-right: 20px;
}

.container img {
    width: 395px;
    height: 205px;
    border-radius: 17px;
    display:flex;
    margin-top: 25px;
}

button {
    width: 10px;
    height: 20px;
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    
    border: 1px solid;
    align-items: center;
    text-decoration: none;
}

input {
    width: 150px;
    height: 20px;
    background-color: #ffff;
}

footer {
    width: 100%;
    height: 20px;
    text-align: center;
    margin-top: 20px;
    background-color: #ff4800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}